extends ../_partials/layout

block append vars
  - activePage = '/felagsmenn'

block content
  .Page: .Container
    h2.Page-title Félagsmenn

    .Copy: :markdown
      Blái naglinn leitar félagsmanna til að halda áfram að byggja upp ímynd þá sem til hefur orðið og dugnað til framtðar. Það er alltaf kostnaður við rekstur en það er mikilvægt fyrir Bláa naglann að halda þeim kostnaði í lágmarki. Allur sá stuðningur sem er veitur er mikils metinn (bæði veraldlegur sem og andlegur).

      Blái naglinn hvetur alvöru karlmenn og konur til að gerast meðlimir í samtökunum. Allur stuðningur skiptir máli í baráttu karmanna og kvenna við helstu krabbamein sem herja á þá. Félagið vill auka lífslíkur karlmanna og kvenna með því að berjast fyrir almennri vitundavakningu meðal þeirra um vágestinn sem óboðinn kemur sér fyrir og nærist of lengi á því að hann er ekki uppgötvaður með reglulegri læknisskoðun.

      Karlmenn og konur  þurfa ekki að sætta sig við þess konar aðstæður og ætla að breyta þeim sér og fjölskyldum sínum í vil. Það er ekki bara einkamál þeirra sjálfra hvort þeir eru lífs eða liðnir.

      Þú getur gerst félagsmaður/styrktaraðilli Bláa naglans með því að fylla út formið hér fyrir neðan.
