extends ../_partials/layout

block append vars
  - activePage = '/starfsemi'

block content
  .Page: .Container.Container--narrow
    h2.Page-title Starfasemi Bláa naglans

    .Copy::markdown
      Blái naglinn hefur byggt upp sterkar stoðir í baráttunni gegn blöðruhálskrabbameini og í vitundarvakningu karlmanna með krabbamein á Íslandi. Árið 2012 frumsýndi félagið heimildamyndina Blái naglinn sem að fjallar um baráttu karlmanns við blöðruhálskrabbamein, hvernig hann tók því að hafa greinst með þessa tegund krabbameins og hvernig hann vann úr því.

      Myndin hefur nú verið textuð á 8 tungumál, þau eru:
      Arabíska, Enska, Franska, Ítalska, Kínverska, Rússneska, Spænska og Þýska.

      Kvennmenn hafa Bleiku slaufuna en karlmenn vantar einkennandi tákn fyrir baráttu sýna gegn krabbameini. Blái naglinn stefnir í að verða þetta tákn — bæði hér á Íslandi sem og annars staðar.

      Blái naglinn er óháður öllum félagasamtökum og rennur því allur ágóði af söfnunum hans beint til tækjakaupa LSH. Blái naglinn er tákn vitundarvakningar karlmanna með krabbamein.

      Blái naglinn - Barmmerki
